DATABASE_URL=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
JWT_ISSUER=
JWT_AUDIENCE=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_FE_REDIRECT_URL=

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=