DATABASE_URL= ''

JWT_SECRET= ''
JWT_ACCESS_TOKEN_EXPIRES_IN=""
JWT_ISSUER= ''
JWT_AUDIENCE= '' 

GOOGLE_OAUTH_CLIENT_ID= ''
GOOGLE_OAUTH_CLIENT_SECRET= ''
GOOGLE_OAUTH_REDIRECT_URI= 'http://localhost:3000/auth/google/callback'
GOOGLE_FE_REDIRECT_URL='http://localhost:5173/auth/google'

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=